<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:include="layout :: head">
</head>
<body class="container">

<header th:replace="fragments/header :: header"> </header>

<div th:fragment="content">

  <form action="" th:action="@{/login/}"  th:method="post">

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email"  class="form-control" id="email">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password"  class="form-control" id="password" >
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>

<div th:include="layout :: scripts"> </div>

</body>
</html>