<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:include="layout :: head">
</head>
<body class="container">

<header th:replace="fragments/header :: header"> </header>

<div th:fragment="content">

  <form th:action="@{/roles/}" th:object="${role}" th:method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Role</label>
      <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Tualquer">
    </div>

    <div class="form-group">
      <button class="btn btn-primary">Save</button>
    </div>
  </form>
</div>

<div th:include="layout :: scripts"> </div>

</body>
</html>